<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBServer" value="ORAREP,OPERADB1,OPERADB2"/>
		<add key="DBUserName" value="OPERA"/>
		<add key="DBPassword" value="OPERA"/>
		<add key="OPERAUserName" value="OPERA"/>
		<add key="OPERAPassword" value="OPERA"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
